<%= form_for @order, :html => { :class => "form-horizontal order" } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :total_amount_net, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :total_amount_net, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_amount_net) %>
  </div>
  <div class="form-group">
    <%= f.label :shipping_costs, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :shipping_costs, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shipping_costs) %>
  </div>
  <div class="form-group">
    <%= f.label :payment_method, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :payment_method, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payment_method) %>
  </div>
  <div class="form-group">
    <%= f.label :discount_value, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :discount_value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:discount_value) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
